# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore build directory
dist

# Ignore IDE directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore MP4s and FLVs.

*.flv
*.mp4