/* credit to https://codepen.io/sajadhsm/pen/odaBdd for the styling */

body {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
  }
  .msger-send-btn {
    margin-left: 10px;
    cursor: pointer;
    transition: background 0.23s;
  }

  .msger-chat {
    flex: 1;
    overflow-y: scroll; /* TODO: Implement more stylised scrollbar */
    overflow-x: hidden;
    padding: 10px;
    display: inline-block;
    width: 100%;
    max-width: calc(100% - 24px);
  }

  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: calc(100% - 28px);
    margin: 10px;

    height: 100%;
    max-height: calc(100% - 32px);
    position: absolute;
    top: 0;
    left: 0;

    line-height: 22px;
  }

  .bg_blur {
    background: rgba(0,0,0,.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1111111111;
}

.alert-box {
    height: 100px;
    width: 500px;
    
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

    display: -webkit-box;
    display: flex;
    
    margin: auto;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px 5px rgba(21,21,21,.74);
    box-shadow: 0 0 20px 5px rgba(21,21,21,.74);
    background: #ff0000;
    border-radius: 4px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.alert_center {
	position: absolute;
    top:25%;
    font-size: 16px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.alert_centerbutton {
	position: absolute;
	top:50%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100px;
	height: 25px;
}   

/* width */
::-webkit-scrollbar {
  width: 10px;
}
